<%= form_for @contact_record, url: seven_contact.new_contact_record_path do |f| %>
  <% if @contact_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_record.errors.count, "error") %> prohibited this contact_record from being saved:</h2>

      <ul>
      <% @contact_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <%= f.submit %>
  </div>
<% end %>
