<p id="notice"><%= notice %></p>

<div>
  <p>Name:</p>
  <%= @contact_record.name %>
</div>
<div>
  <p>Email:</p>
  <%= @contact_record.email %>
</div>
<div>
  <p>Content:</p>
  <%= @contact_record.content %>
</div>

<%= link_to 'Back', seven_contact.contact_records_path %>
